<td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
          <td><% if current_user.already_favorited?(book) %>
                <%= link_to book_favorites_path(book), method: :delete do %>
                  <i class = "fas fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to book_favorites_path(book), method: :post do %>
                  <i class = "far fa-heart"></i>
                <% end %>
              <% end %>
              <%= book.favorites.count %>
          </td>
          <td>
          <%= "コメント数：" %>
          <%= book.book_comments.count %>
        </td>
          <td><% if user == current_user %>
          <%= link_to 'Edit', edit_book_path(book), class: "btn btn-sm btn-success edit_book_#{book.id}" %>
          <% end %>
          </td>
          <td><% if user == current_user %>
          <%= link_to 'Destroy', book_path(book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{book.id}"%>
          <% end %>
          </td>